header {
    padding: 30px 15px;
}

.logo-mobile {
    display: none;
}

.logo-desktop {
    display: inline-block;
    height: 55px;
}

.search {
    flex-direction: row;
}

.right-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100;
    background-color: transparent;
}

.right-img img {
    min-width: 100px;
    max-width: 300px;
}

