:root {
    --yapo-orange: #FF9854;
    --yapo-blue: #006CB4;
    --cool-grey: #C4C4C4;
    --roboto: 'Roboto', sans-serif;
}

/*GENERAL STYES*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--roboto);
}

/*HEADER STYLES*/

header {
    width: 100%;
    height: 80px;
    padding: 30px 15px 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-desktop {
    display: none;
}

/*Buttons styles*/

.header-btn-container {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.btn {
    padding: 15px 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.post__btn {
    background-color: var(--yapo-orange);
}

.login__btn {
    background-color: var(--yapo-blue);
}

/*SECTIONS STYLES*/
.search, .promoted-ads, .instructions {
    min-width: 317px;
    min-height: 205px;
    padding: 10px 30px;
}
/*SEARCH AND FORM STYLES*/

.right-img {
    display: none;
}

.search form {
    width: 100%;
    max-width: 440px;
    max-height: 206px;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: var(--cool-grey);
}

.search form input {
    width: 90%;
    height: 31px;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
}

.search-btn {
    width: 90%;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    color: white;
    background-color: var(--yapo-orange);
    cursor: pointer;
}

/*CARDS STYLES*/

.promoted-ads__bg {
    width: 100%;
    height: 260px;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: var(--cool-grey);
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card {
    width: 195px;
    height: 220px;
    margin:  0px 10px 0px 10px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    scroll-snap-align: center;
}

.card img {
    width: 195px;
    border-radius: 5px 5px 0px 0px;
}
.card__content {
    width: 80%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.card .card__title {
    width: 50%;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.card .card__price {
    width: 40%;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--yapo-orange);
}

.card_description {
    width: 100%;
    margin: 10px 0px 0px 4.5px;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*INFO LABELS*/

.info {
    min-width: 317px;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.info__card {
    width: 40%;
    min-width: 260px;
    height: 63px;
    margin-bottom: 10px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: var(--yapo-blue);

}

.info__card p span {
    color: var(--yapo-orange);
}

/*INSTRUCTIONS STYLES*/

.instructions h1 {
    margin-bottom: 12px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.5rem;
    text-align: center;
}

.instructions p {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.1rem;
    text-align: center;
}

.steps-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.steps {
    min-width: 240px;
    height: 88px;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.step__number {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yapo-orange);
    border-radius: 10px;
}

.step__number .number {
    font-size: 6rem;
    font-weight: 700;
    color: white;
}

.step__text .step__text--black {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.9rem;
}

.step__text .step__text--orange {
    color: var(--yapo-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.9rem;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cool-grey);
}

.sign {
    font-size: 1.3rem;

}